

  <body>
    <h1>Produtos de League of Legends</h1>
    <ul>
      <li>
        <h2>Campeão: Ashe</h2>
        <p>Descrição: Uma arqueira habilidosa, conhecida por sua habilidade em disparar flechas de gelo para congelar seus inimigos.</p>
        <p>Preço: R$ 35,00</p>
      </li>
      <li>
        <h2>Campeão: Yasuo</h2>
        <p>Descrição: Um espadachim habilidoso, conhecido por sua habilidade em canalizar o vento para cortar seus inimigos.</p>
        <p>Preço: R$ 40,00</p>
      </li>
      <li>
        <h2>Campeão: Lux</h2>
        <p>Descrição: Uma maga poderosa, conhecida por sua habilidade em lançar feitiços de luz para cegar seus inimigos.</p>
        <p>Preço: R$ 30,00</p>
      </li>
      <li>
        <h2>Campeão: Garen</h2>
        <p>Descrição: Um guerreiro resistente, conhecido por sua habilidade em girar sua espada para causar dano em área.</p>
        <p>Preço: R$ 25,00</p>
      </li>
    </ul>
  </body>
