 <body>
    <header>

      <p>Encontre os melhores personagens para jogar com seus amigos.</p>
    </header>
    <div class="container">
      <h2>Personagens Disponíveis</h2>
      <p>Aqui estão alguns dos personagens mais populares disponíveis em nossa loja:</p>
      <div class="personagens">
        <div class="personagem">

          <h3>Ashe</h3>
          <p>Uma arqueira habilidosa, conhecida por sua habilidade em disparar flechas de gelo para congelar seus inimigos.</p>
          <p>Preço: R$ 35,00</p>

        </div>
        <div class="personagem">

          <h3>Yasuo</h3>
          <p>Um espadachim habilidoso, conhecido por sua habilidade em canalizar o vento para cortar seus inimigos.</p>
          <p>Preço: R$ 40,00</p>
        </div>
        <div class="personagem">
          <h3>Lux</h3>
          <p>Uma maga poderosa, conhecida por sua habilidade em lançar feitiços de luz para cegar seus inimigos.</p>
          <p>Preço: R$ 30,00</p>

        </div>
      </div>
    </div>
  </body>
